<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{first_name}} {{last_name}} Application</title>
</head>

<body style="font-family: Arial, Helvetica, sans-serif;">
  <table style="width: 100%; border-collapse: collapse;" border="0">
    <tbody>
      <tr>
        <td style="width: 50%;"><img
            src="https://api-collect-info-cem-qr.s3.amazonaws.com/logos/logo_class_horizontal.png" alt="" width=""
            height="80" /></td>
        <td style="width: 50%;"><img style="float: right;" src="{{qr_url}}" alt="" width="" height="110" /></td>
      </tr>
    </tbody>
  </table>
  <h1 style="text-align: center;margin-bottom:5px;">{{event_name}}</h1>
  <h2 style="text-align: center; margin:0px;">Application Information</h2>
  <p>&nbsp;</p>
  <div class="page" title="Page 1">
    <div class="layoutArea">
      <div class="column">
        <p style="text-align: right;"><strong>Consultant</strong>: {{consultant}}<br /><strong>Request No</strong>.
          {{request_number}}<br /><strong>Quote No</strong>.
          {{quote_number}}<br /><strong>Fecha</strong>: {{date}}</p>
        <div class="page" title="Page 1">
          <div class="layoutArea">
            <div class="column">
              <h3 style="text-align: center;"><strong><span style="color: #ff0000;">STUDENT INFORMATION</span></strong>
              </h3>
            </div>
          </div>
        </div>
        <div class="page" title="Page 1">
          <div class="layoutArea">
            <div class="column">
              <h3><strong>{{first_name}} {{last_name}}</strong></h3>
              <table style="height: 18px; width: 100%; border-collapse: collapse;">
                <tbody>
                  <tr style="height: 18px;">
                    <td style="width: 53.9773%; height: 18px;">
                      <div class="page" title="Page 1">
                        <div class="layoutArea">
                          <div class="column">
                            <p style="margin: 0px;"><strong>Email</strong>: {{email}}<br /><strong>Birthday</strong>:
                              {{birthday}}<br /><strong>Address</strong>: {{address}}<br /><strong>State</strong>:
                              {{state}}</p>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td style="width: 46.0227%; height: 18px;">
                      <div class="page" title="Page 1">
                        <div class="layoutArea">
                          <div class="column">
                            <p style="margin: 0px;"><strong>Phone number</strong>: {{phone}} <strong><br /></strong><strong>Gender</strong>:
                              {{gender}}<br /><strong>Country</strong>: {{country}}</p>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <p>&nbsp;</p>
              <div class="page" title="Page 1">
                <div class="layoutArea">
                  <div class="column">
                    <h3 style="text-align: center;"><strong><span style="color: #ff0000;">SELECTED
                          PROGRAM</span></strong></h3>
                    <table style="width: 100%; border-collapse: collapse;" border="0">
                      <tbody>
                        <tr>
                          <td style="width: 9.11606%;">
                            <div class="page" title="Page 1">
                              <div class="layoutArea">
                                <div class="column">
                                  <p><strong>Program name </strong><br /><strong>Location:
                                    </strong><br /><strong>Credential type:
                                    </strong><br /><strong>Duration:</strong><br /><strong>Start Date:
                                    </strong><br /><strong>Tuition range:</strong></p>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td style="width: 24.3335%;">
                            <div class="page" title="Page 1">
                              <div class="layoutArea">
                                <div class="column">
                                  <div class="page" title="Page 1">
                                    <div class="layoutArea">
                                      <div class="column">
                                        <p>
                                          {{program_name}}<br />{{location}}<br />{{credential_type}}<br />{{duration}}<br />{{start_date}}<br />{{tuition_range}}
                                        </p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td style="width: 2.6002%;">
                            <div class="page" title="Page 1">
                              <div class="layoutArea">
                                <div class="column">
                                  <p><img style="display: block; margin-left: auto; margin-right: auto;"
                                      src="{{logo_path}}" alt="" width="" height="110" /></p>
                                </div>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="page" title="Page 1">
                      <div class="layoutArea">
                        <div class="column"><br />
                          <table style="height: 18px; width: 100%; border-collapse: collapse;" border="0">
                            <tbody>
                              <tr style="height: 18px;">
                                <td style="width: 35.9848%; height: 18px;"><strong>Additionals comments:&nbsp;</strong>
                                </td>
                                <td style="width: 64.0152%; height: 18px;">{{notes}}</td>
                              </tr>
                            </tbody>
                          </table>
                          <p>&nbsp;</p>
                          <h3 style="text-align: center;"><strong><span style="color: #ff0000;">SIGNATURE OF STUDENT OR
                                PARENT</span></strong></h3>
                          <p style="text-align: center;"><strong><img
                                style="display: block; margin-left: auto; margin-right: auto;" src="{{signature_url}}"
                                alt="" width="300" height="110" /></span></strong></p>
</body>

</html>