<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{first_name}} {{last_name}} Quote</title>
</head>

<body style="font-family: Arial, Helvetica, sans-serif;">

    <table style="width: 100%; border-collapse: collapse;" border="0">
        <tbody>
            <tr>
                <td style="width: 50%;"><img
                        src="https://events-class-education-utils-storage-prod.s3.amazonaws.com/assets/logos/logo_class_horizontal.png" alt=""
                        width="" height="80" /></td>
                <td style="width: 50%;"><img style="float: right;" src="{{qr_url}}" alt="" width="" height="110" /></td>
            </tr>
        </tbody>
    </table>
    <h1 style="text-align: center;margin-bottom:5px;">EXPO CANADA EDUCATION</h1>
    <h2 style="text-align: center; margin:0px;">SEPTIEMBRE 2023</h2>

    <p>&nbsp;</p>
    <div class="page" title="Page 1">
        <div class="layoutArea">
            <div class="column">
                <p style="text-align: right;"><strong>Consultor:</strong> {{consultant}}<br />
                    <strong>Cotización No.</strong> {{request_number}}<br />
                    <strong>Inscripción No.</strong> {{quote_number}}<br /><strong>Fecha</strong>: {{date}}</p>
                <div class="page" title="Page 1">
                    <div class="layoutArea">
                        <div class="column">
                            <h3 style="text-align: center;"><strong><span style="color: #ff0000;">STUDENT
                                        INFORMATION</span></strong></h3>
                        </div>
                    </div>
                </div>
                <div class="page" title="Page 1">
                    <div class="layoutArea">
                        <div class="column">
                            <h3><strong>{{first_name}} {{last_name}}</strong></h3>
                            <table style="height: 18px; width: 100%; border-collapse: collapse;">
                                <tbody>
                                  <tr style="height: 18px;">
                                    <td style="width: 53.9773%; height: 18px; vertical-align: initial;">
                                      <div class="page" title="Page 1">
                                        <div class="layoutArea">
                                          <div class="column">
                                            <p style="margin: 0px;"><strong>Email</strong>: {{email}}<br /><strong>Phone number</strong>: {{phone}}<br /><strong>Birthday</strong>:
                                              {{birthday}}
                                              <br /><strong>Gender</strong>:
                                              {{gender}}<strong></p>
                                          </div>
                                        </div>
                                      </div>
                                    </td>
                                    <td style="width: 46.0227%; height: 18px; vertical-align: initial;">
                                      <div class="page" title="Page 1">
                                        <div class="layoutArea">
                                          <div class="column">
                                            <p style="margin: 0px;"><strong>Address</strong>: {{address}}<br /><strong>State</strong>:
                                              {{state}}<br /><strong>Country</strong>: {{country}}</p>
                                          </div>
                                        </div>
                                      </div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            <p>&nbsp;</p>
                            <div class="page" title="Page 1">
                                <div class="layoutArea">
                                    <div class="column">
                                        <h3 style="text-align: center; margin-bottom: 2px;"><strong><span style="color: #ff0000;">SELECTED PROGRAM</span></strong></h3>
                                        <h4 style="text-align: center; margin-top:0">{{program_name}} </h4>
                                        <table style="width: 100%; border-collapse: collapse;" border="0">
                                            <tbody>
                                                <tr>
                                                    <td style="width: 9.11606%; vertical-align: initial;">
                                                        <div class="page" title="Page 1">
                                                            <div class="layoutArea">
                                                                <div class="column">
                                                                    <p style="margin: 0px;">
                                                                        <strong>Location:</strong><br /><strong>Credential
                                                                            type:
                                                                        </strong><br /><strong>Duration:</strong><br /><strong>Start
                                                                            Date: </strong><br /><strong>Tuition
                                                                            range:</strong><br /><br /><strong>PROMO:
                                                                        </strong><br /><br /><strong>PROMO during the EXPO:</strong></p>
                                                     
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td style="width: 24.3335%; vertical-align: initial;">
                                                        <div class="page" title="Page 1">
                                                            <div class="layoutArea">
                                                                <div class="column">
                                                                                                                                    <p style="margin: 0px;">
                                                                                    {{location}}<br />{{credential_type}}<br />{{duration}}<br />{{start_date}}<br />{{tuition_range}} CAD<br /><strong><br/>App fee:</strong> {{app_fee}}<br /><strong>{{special_offer_1}}
                                                                                    </strong> {{amount_offer_1}} {{currency_offer_1}} <br/>
                                                                                    50%&nbsp; de descuento en gastos administrativos<br />50% de descuento en gestion de visa individual
                                                                                  </p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td style="width: 2.6002%;">
                                                        <div class="page" title="Page 1">
                                                            <div class="layoutArea">
                                                                <div class="column">
                                                                    <p><img style="display: block; margin-left: auto; margin-right: auto;"
                                                                            src="{{logo_path}}" alt="" width=""
                                                                            height="110" /></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="column">&nbsp;</div>
                                        <div class="page" title="Page 1">
                                            <div class="layoutArea">
                                                <h3 class="column" style="text-align: center;"><span
                                                        style="color: #ff0000;">FEES BY EXPO</span></h3>
                                                <div class="column"><br />
                                                    <table
                                                        style="height: 18px; width: 60%; border-collapse: collapse; margin-left: auto; margin-right: auto;"
                                                        border="0">
                                                        <tbody>
                                                            <tr style="height: 18px; font-size: 20px;">
                                                                <td style="width: 32%; height: 18px;">
                                                                    <div class="page" title="Page 1">
                                                                        <div class="layoutArea">
                                                                            <div class="column">
                                                                                <p><strong>Initial Payment:<br />Initial Payment Expo:</strong>
                                                                                </p>
                                                                                <p><strong>TOTAL</strong></p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td style="width: 28%; height: 18px;">
                                                                    <p style="text-align: right;">&nbsp; &nbsp;$ 15,000
                                                                        MXN<br />&nbsp; <span style="color: #ff0000;">-
                                                                            $&nbsp; 7,500 MXN</span></p>
                                                                    <p style="text-align: right;"><strong>&nbsp;$&nbsp;
                                                                            7,500 MXN</strong></p>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                <div style="display: flex; justify-content: center;">
                                                    <p style="width: 700px; text-align: center;">Esta cotización muestra un monto general de los servicios academicos, sin incluir, costos adicionales como alojamiento, serguros, traducciones y otros.</p>
                                                </div>

</body>

</html>