<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{first_name}} {{last_name}} Quote</title>
</head>

<body style="font-family: Arial, Helvetica, sans-serif">
  <p><img style="display: block; margin-left: auto; margin-right: auto;"
      src="https://api-collect-info-cem-qr.s3.amazonaws.com/logos/logo_class_horizontal.png" alt="" width=""
      height="80" /></p>
  <h1 style="text-align: center;"><strong>TERMINOS Y CONDICIONES DE SERVICIO 2023</strong></h1>
  <h1 style="text-align: center;"><strong>CLASS Consulting S.C.</strong></h1>
  <h3 style="text-align: center;">&nbsp;</h3>
  <h3 style="text-align: center;"><strong>STUDENT INFORMATION</strong></h3>
  <table style="height: 18px; width: 100%; border-collapse: collapse; margin: 0;" cellspacing="0" cellpadding="0">
    <tbody>
      <tr style="height: 18px;">
        <td style="width: 53.9773%; height: 18px;">
          <p style="margin: 0;"><strong>Complete name:</strong> {{first_name}}
            {{last_name}}<br /><strong>Email</strong>: {{email}}<br /><strong>Birthday:
            </strong>{{birthday}}<strong><br /><strong>Gender</strong>: </strong>{{gender}}</p>
        </td>
        <td style="width: 46.0227%; height: 18px;">
          <p style="margin: 0;"><strong>Phone number</strong>: {{phone}}<br /><strong>Address:
            </strong>{{address}}<strong><br /><strong>State</strong>:
            </strong>{{state}}<strong><strong><br /></strong><strong>Country</strong>: </strong>{{country}}</p>
        </td>
      </tr>
    </tbody>
  </table>
  <p>&nbsp;</p>
  <p style="text-align: justify;"><strong>1.Declaraci&oacute;n. </strong>CLASS Education es el nombre y marca registrada
    de CLASS Consulting, S.C., legalmente constituida conforme a las leyes mexicanas.</p>
  <p style="text-align: justify;"><strong>2.Inscripci&oacute;n. </strong>A la firma del presente contrato, CLASS
    Education ofrecer&aacute; el servicio de consultor&iacute;a, intermediaci&oacute;n, tr&aacute;mite y registro para
    estudios en el extranjero de acuerdo a los requisitos, pol&iacute;ticas y criterios de elegibilidad de la
    Instituci&oacute;n Educativa del extranjero; asimismo, la coordinaci&oacute;n de alojamientos y coordinaci&oacute;n
    para la contrataci&oacute;n de seguro de gastos m&eacute;dicos; por tal motivo, CLASS Education no ser&aacute;́
    responsable de ning&uacute;n acto si la documentaci&oacute;n requerida para la inscripci&oacute;n no la provee el
    Cliente en tiempo y forma solicitados as&iacute; como tampoco si la informaci&oacute;n personal proporcionada por el
    Cliente no es veraz.</p>
  <p style="text-align: justify;"><strong>3.Pagos. </strong>Los pagos realizados por el Cliente en moneda nacional
    ser&aacute;n convertidos a su equivalente en la moneda extranjera de acuerdo con el monto establecido en el
    presupuesto, con base al tipo de cambio publicado por CLASS Education, en la fecha de cada pago realizado
    respectivamente. El tipo de cambio ser&aacute; provisto por CLASS Education a solicitud del Cliente v&iacute;a
    telef&oacute;nica o a trav&eacute;s de medios electr&oacute;nicos. Se podr&aacute; respetar el monto total o parcial
    abonado en moneda extranjera, por un periodo no mayor a 12 meses; en caso de posponer el inicio del proyecto por un
    periodo mayor, el saldo se recalculará en funci&oacute;n del tipo de cambio vigente. Se realizará el &uacute;ltimo
    pago y total del presupuesto a m&aacute;s tardar 30 d&iacute;as antes de la fecha de inicio del curso o en caso de
    que se establezca una fecha l&iacute;mite de pago por parte de la instituci&oacute;n educativa, por lo menos 10
    d&iacute;as antes de la misma. Es responsabilidad del cliente notificar los dep&oacute;sitos realizados en tiempo y
    forma a su ejecutivo y al correo de pagos@classeducation.com indicando el nombre completo del estudiante, de lo
    contrario el monto en moneda extranjera se puede ver afectado por el tipo de cambio del d&iacute;a que se
    est&eacute; reportando. En caso de alg&uacute;n retraso en el pago, &eacute;ste deber&aacute; ser notificado con
    antelaci&oacute;n y aprobado por la instituci&oacute;n en el extranjero, de lo contrario, existe el riesgo de
    recibir alguna penalizaci&oacute;n por parte de la instituci&oacute;n educativa o perdida del espacio en la misma.
    En caso de acuerdos de planes de pagos con CLASS Education, el cliente se compromete a cubrir el total del
    presupuesto en la fecha l&iacute;mite establecida, en caso de sobrepasar dicha fechase incurrir&aacute; en una
    penalizaci&oacute;n del 2% semanal sobre el saldo que se adeude, adicional a las penalizaciones que la escuela
    indique de acuerdo con sus pol&iacute;ticas de pago, considerando que en algunos casos puede incurrir en la
    p&eacute;rdida del espacio en el programa de estudio. Los gastos incurridos por el alumno durante su estancia en la
    instituci&oacute;n educativa son responsabilidad de este, frente al prestador de servicios y/o la instituci&oacute;n
    educativa. Deber&aacute;n ser pagados y cubiertos por el cliente de manera directa a la instituci&oacute;n, de lo
    contrario CLASS Education cobrar&aacute; $150 CAD adicionales por realizar el seguimiento y pago de esos gastos. El
    monto del presupuesto puede cambiar por fluctuaciones que repercuten en el valor de la moneda o por pol&iacute;ticas
    ajenas a CLASS Education. Dichos pagos deber&aacute;n ser realizados a:</p>
  <p style="text-align: justify;">&nbsp;</p>
  </p>
  <p>
    <strong>A)</strong> Dep&oacute;sito / Transferencia Bancaria a Cuentas
    Mexicanas (MXN):
  </p>
  <ul>
    <li>
      <strong>BANAMEX: </strong>a nombre de CLASS Consulting S.C.
      <ul>
        <li><strong>Sucursal:</strong> 0947</li>
        <li><strong>Cuenta:</strong> 6535279</li>
        <li><strong>CLABE:</strong> 002180094765352794</li>
      </ul>
    </li>
    <li>
      <strong>BBVA BANCOMER: </strong>a nombre de CLASS Consulting S.C.
      <ul>
        <li><strong>Sucursal:</strong> 3595</li>
        <li><strong>Cuenta:</strong> 0120017787</li>
        <li><strong>CLABE:</strong> 012180001200177873</li>
      </ul>
    </li>
    <li>
      <strong>SCOTIABANK MEXICO:</strong> a nombre de CLASS Consulting S.C.
      <ul>
        <li><strong>Sucursal:</strong> 015</li>
        <li><strong>Cuenta:</strong> 00101204661</li>
        <li><strong>CLABE:</strong> 044180001012046610</li>
      </ul>
    </li>
  </ul>
  <p>&nbsp;</p>
  <p>
    <strong>B)</strong> Dep&oacute;sito / Transferencia Bancaria a Cuenta
    Canadiense (CAD):
  </p>
  <p>
    <strong>Beneficiary:</strong> CLASS Consulting SC<br /><strong>Bank Name:</strong>
    Bank of Nova Scotia &ndash; Scotiabank Canada<br /><strong>Bank Address:</strong>
    Suite 200, 1002 rue Sherbrooke O., Montr&eacute;al, QC H3A 3L6, Canada
    Account Number:900010040312<br /><strong>SWIFT Code:</strong>
    NOSCCATTMTL<br /><strong>Transit Number:</strong> 90001<br /><strong>Referencia:</strong>
    Primer Nombre y Primer Apellido del Estudiante + N&uacute;mero de
    Estudiante
  </p>
  <p>&nbsp;</p>

  <p style="text-align: justify;">
    <strong>4.Inicio de Tr&aacute;mite. </strong>Para iniciar el
    tr&aacute;mite de inscripci&oacute;n al programa de estudios de
    inter&eacute;s, es necesario efectuar un primer dep&oacute;sito que
    variar&aacute; en monto en funci&oacute;n del programa seleccionado. En
    caso de que el cliente seleccione dos o m&aacute;s programas, ser&aacute;
    requerido dicho dep&oacute;sito para cada uno de ellos y en forma
    independiente. Una vez confirmada la recepci&oacute;n del pago inicial,
    CLASS Education dar&aacute; inicio al tr&aacute;mite de registro. El pago
    inicial referido en esta cl&aacute;usula ser&aacute; utilizado para cubrir
    los gastos administrativos de CLASS, el pago de la(s) ficha(s) de registro
    a la(s) instituci&oacute;n(es) educativa(s), as&iacute;́ como gastos
    asociados al proceso de registro de una o dos instituciones educativas,
    tales como; traducciones y otros. Si hubiera un saldo a favor del cliente
    tras consumir conforme se avance con los gastos ya referidos, se
    podr&aacute; utilizar como pago para colegiatura, de lo contrario, el
    resto deber&aacute;́ ser cubierto por el estudiante antes de iniciar su
    programa, o bien antes de que se solicite el servicio o tramite faltante,
    mediante aviso de CLASS Education. Este monto var&iacute;a dependiendo del
    costo en el momento de los gastos mencionados. Todo pago y gasto incurrido
    ser&aacute; mostrado al cliente en un estado de cuenta que
    proporcionar&aacute; CLASS Education.
  </p>
  <p style="text-align: justify;">
    <strong>5.Visas</strong>. Dependiendo del pa&iacute;s al que viaje el
    estudiante y de acuerdo con la duraci&oacute;n del curso, es probable que
    el estudiante requiera una visa o permiso para ingresar al pa&iacute;s
    destino. CLASS Education puede apoyar en la realizaci&oacute;n de estos
    tr&aacute;mites a solicitud del estudiante o de sus padres, fungiendo como
    asesor y facilitador para reunir toda la documentaci&oacute;n necesaria.
    La celebraci&oacute;n del tr&aacute;mite ser&aacute;́ entre el estudiante y
    la embajada del pa&iacute;s correspondiente, teniendo que pagar el
    estudiante el costo del tr&aacute;mite y una cuota por los servicios de
    CLASS Education. La autorizaci&oacute;n de la visa y el tiempo de
    respuesta final al tr&aacute;mite, ser&aacute;́ decisi&oacute;n exclusiva
    de la Embajada del pa&iacute;s emisor de la visa. CLASS Education
    &uacute;nicamente funge como asesor y facilitador de permiso de estancia
    corta y Visas de estudiante. Lo que refiere a tr&aacute;mites para
    permisos &uacute;nicamente de trabajo, o permiso de trabajo para el
    familiar de un estudiante ser&aacute; mediante otro proveedor que puede o
    no ser sugerido por CLASS Education.
  </p>
  <p style="text-align: justify;">
    <strong>6.Seguro. </strong>Es obligaci&oacute;n del Cliente estar
    asegurado durante su estancia en el extranjero, por lo que CLASS Education
    recomienda la adquisici&oacute;n del Seguro de asistencia m&eacute;dica.
    En caso de que dicho seguro sea adquirido por medio de CLASS Education,
    &eacute;ste solamente actuar&aacute; como agente de la empresa
    aseguradora, pero los derechos y obligaciones del Seguro y del Asegurado
    estar&aacute;n definidos por el contrato de la Empresa Aseguradora y de
    acuerdo con la p&oacute;liza emitida.
  </p>
  <p style="text-align: justify;">
    <strong>7.Cancelaciones y cambios. </strong>En caso de cambios sobre la
    reserva de servicios originalmente solicitados por el cliente al momento
    de la firma del presente contrato, relacionada con; el programa de
    estudios, alojamiento, seguros m&eacute;dicos, traslados o cualquier
    servicio adicional que se haya reservado por medio de CLASS Education sin
    importar el motivo, ser&aacute;n aplicables las pol&iacute;ticas y/o
    penalizaciones de la Instituci&oacute;n Educativa, Agencia de Alojamiento
    y/o Compa&ntilde;&iacute;a emisora del servicio seg&uacute;n sea el caso.
    En caso de cancelaci&oacute;n de servicio(s), se aplicar&aacute;n las
    pol&iacute;ticas pertinentes de cada instituci&oacute;n y se
    contemplar&aacute; un cargo administrativo que variar&aacute; entre el 10%
    y el 20% del presupuesto total. Asimismo, el cliente acepta que no se
    efectuar&aacute; reembolso alguno de servicios que hayan sido utilizados,
    a reserva de que el prestador de servicios as&iacute; lo especifique.
    Tanto los cambios o cancelaciones sobre una reserva deber&aacute;n ser
    solicitados por el Cliente por escrito v&iacute;a email a personal de
    CLASS Education (no se aceptar&aacute;n cambios o cancelaciones por
    whatsapp). al correo:
    <a href="mailto:cancelaciones@classeducation.com">cancelaciones@classeducation.com</a>.
  </p>
  <p style="text-align: justify;">
    <strong>8.Reembolsos. </strong>El cliente deber&aacute; solicitar el
    reembolso por escrito proporcionando su nombre completo, programa al que
    aplica, correo y n&uacute;mero de contacto, explicando los motivos por los
    cuales se solicita enviando un mail a cancelaciones@classeducation.com.
    Todo reembolso estar&aacute; sujeto a las pol&iacute;ticas de la
    Instituci&oacute;n Educativa, Agencia de Alojamiento y/o
    Compa&ntilde;&iacute;a Aseguradora de acuerdo con las pol&iacute;ticas y
    tiempos de cada instituci&oacute;n (De 4 a 8 meses). El reembolso
    solicitado respecto al monto destinado al pago de derechos y
    gesti&oacute;n de la visa proceder&aacute; &uacute;nicamente si los gastos
    para su tr&aacute;mite no han sido realizados por CLASS Education. De
    igual manera, cualquier gasto administrativo en el que se haya incurrido
    con motivo del (delos) tr&aacute;mite(s) como el consulting o coaching fee
    NO son reembolsables en ning&uacute;n caso, igualmente el cargo por gastos
    bancarios por 85CAD y cargo por movimientos bancarios (cuentas a terceros)
    por 250CAD, cuando la instituci&oacute;n en el extranjero ya cuente con el
    dinero y que CLASS Education intervenga en la recopilaci&oacute;n de este
    monto como intermediario para el reembolso, y en caso de que proceda,
    ser&aacute;&middot; avisado al cliente v&iacute;a correo
    electr&oacute;nico para que, una vez firmada la aceptaci&oacute;n del
    importe y la fecha de reintegro del reembolso se programe el pago al
    mismo. El cliente tiene un m&aacute;ximo de 12 meses a partir de la fecha
    de su &uacute;ltimo pago para solicitar el reembolso, de otra manera,
    acepta que pierde su derecho a solicitarlo parcial ototalmente. Todo
    reembolso est&aacute; sujeto a retenciones bancarias que no son
    decisi&oacute;n de CLASS Education sino de la instituci&oacute;n
    financiera con la que se tramita el reembolso. No hay reembolso en
    efectivo, todo reembolso se realiza por transferencia bancaria a una
    cuenta de cheques o de d&eacute;bito.
  </p>

  <p style="text-align: justify;">
    <strong>9.Transporte A&eacute;reo. </strong>CLASS Education
    ofrecer&aacute; al cliente alternativas para la adquisici&oacute;n del
    boleto de avi&oacute;n; la adquisici&oacute;n de este es la
    celebraci&oacute;n del acto entre el Cliente y la L&iacute;nea
    A&eacute;rea; por tal motivo, CLASS Education no ser&aacute; responsable
    de p&eacute;rdidas de equipaje, p&eacute;rdida de vuelo, retrasos, cambio
    de itinerario ni de situaci&oacute;n an&aacute;loga cuya responsabilidad
    corresponda directamente a la L&iacute;nea A&eacute;rea. CLASS Education
    declina responsabilidad alguna por la negligencia, caso fortuito o de
    fuerza mayor por alguna de las partes que celebraron la adquisici&oacute;n
    del boleto de avi&oacute;n. En todo momento CLASS Education fungir&aacute;
    como un asesor y un aliado para resolver cualquier inconveniente suscitado
    antes, durante y/o despu&eacute;s de realizar el viaje de estudios al
    extranjero.
  </p>
  <p style="text-align: justify;">
    <strong>10.Alojamiento. </strong>CLASS Education ofrecer&aacute; al
    cliente alternativas para el alojamiento en el destino, ya sea relacionado
    con la instituci&oacute;n educativa o por medio de otras empresas
    proveedoras de dicho servicio; al incluir este servicio dentro de la
    factura de CLASS, el pago del mismo representa &uacute;nicamente la
    celebraci&oacute;n del acto entre el Cliente y la empresa proveedora del
    servicio de alojamiento; por tal motivo, CLASS Education no ser&aacute;́
    responsable, en forma enunciativa m&aacute;s no limitativa, de: problemas
    con el servicio solicitado, perdidas de pertenencias o equipaje, faltas u
    omisiones en los niveles de servicio ofrecidos por la misma
    compa&ntilde;&iacute;a proveedora del servicio de alojamiento, ni de
    situaci&oacute;n an&aacute;loga cuya responsabilidad corresponda
    directamente a dicha empresa. CLASS Education declina responsabilidad
    alguna por la negligencia, caso fortuito o de fuerza mayor por alguna de
    las partes que celebraron la adquisici&oacute;n de dicho servicio. CLASS
    Education puede ayudar a realizar aplicaci&oacute;n de residencia en
    College con un cargo por gastos administrativos adicional que ser&aacute;́
    cotizado debidamente al cliente. En todo momento CLASS Education
    fungir&aacute;́ como un asesor y un aliado para resolver cualquier
    inconveniente suscitado antes, durante y/o despu&eacute;s de realizar el
    viaje de estudios al extranjero, hasta donde su responsabilidad y acceso a
    informaci&oacute;n como tercero le permita.
  </p>
  <p style="text-align: justify;">
    <strong>11.Entrega de Documentos</strong>. La entrega de los documentos de
    la Instituci&oacute;n Educativa y dem&aacute;s servicios solicitados,
    necesarios para el viaje del estudiante se llevar&aacute; a cabo en el
    transcurso de los &uacute;ltimos 15 d&iacute;as previos a la fecha del
    vuelo programado, &uacute;nicamente de forma electr&oacute;nica. En caso
    de requerir documentos f&iacute;sicos, el cliente deber&aacute;́ cubrir el
    costo del servicio de entrega por paqueter&iacute;a, el cual se
    cotizar&aacute; en el momento de la solicitud de este. CLASS Education no
    se hace responsable por entregas tard&iacute;as o p&eacute;rdida de
    documentaci&oacute;n de parte de la empresa del servicio de entrega.
  </p>
  <p style="text-align: justify;">
    <strong>12.Condiciones. </strong>El cliente deber&aacute; tener presente
    que CLASS Education responder&aacute; siempre como intermediario ante los
    prestadores de servicios en el extranjero; por ello, fungir&aacute; como
    un apoyo y aliado con el Cliente ante las pol&iacute;ticas de cada
    instituci&oacute;n participante sin poder por ello modificarlas o
    anularlas en caso de presentarse alguna situaci&oacute;n que amerite su
    uso. CLASS Education no podr&aacute; hacerse responsable en caso de que el
    estudiante sea sujeto de una expulsi&oacute;n penalizaci&oacute;n por
    conducta o desempe&ntilde;o acad&eacute;mico, una vez iniciado el curso,
    sea por parte de la instituci&oacute;n acad&eacute;mica o del servicio de
    alojamiento en caso de conductas inapropiadas. CLASS Education no
    podr&aacute; hacerse responsable en caso de que el estudiante no encuentre
    un empleo en el extranjero, ni funge como asesor de migraci&oacute;n, por
    lo que no podr&aacute;́ hacerse responsable de ning&uacute;n aspecto
    relacionado con esos temas. En caso de contar con, o de haber tramitado un
    permiso de estudios con opci&oacute;n de trabajo o permiso laboral
    relacionado con su programa de estudios, dicho permiso, su vigencia y
    aplicabilidad estar&aacute;n sujetos a las pol&iacute;ticas y
    disposiciones de la instituci&oacute;n emisora as&iacute;́ como de las
    autoridades del gobierno del pa&iacute;s correspondiente. Al firmar el
    presente contrato, el cliente acepta voluntariamente la instituci&oacute;n
    seleccionada, sus pol&iacute;ticas y el presupuesto para ella planteado, y
    acepta la posibilidad de que lleguen a sufrir modificaciones posteriores a
    la firma de este. El presupuesto estar&aacute; sujeto a ajustes por parte
    de los prestadores de servicios en el extranjero, de acuerdo con sus
    propias pol&iacute;ticas y, en su caso, ser&aacute;n comunicados dichos
    ajustes por parte de CLASS Education, sin que esto implique una
    responsabilidad por parte de &eacute;sta &uacute;ltima empresa. Las partes
    acuerdan que en caso de que se suscite cualquier controversia con motivo
    de la interpretaci&oacute;n y cumplimento del presente Contrato, las
    partes se someter&aacute;n a los Tribunales de Justicia del Distrito
    Federal y renuncian expresamente a cualquier otra jurisdicci&oacute;n que
    pudiera corresponder respecto a su domicilio presente o futuro, o al
    domicilio de cualquiera de los prestadores de servicios relacionados con
    los estudios en el extranjero.
  </p>

  <p><strong>APENDICE 1: </strong>Colleges y Universidades</p>
  <ol style="list-style-type: upper-alpha">
    <li style="text-align: justify;">
      CLASS Education apoyar&aacute; al Cliente a realizar los pagos a la
      instituci&oacute;n educativa correspondiente una vez recibido el
      importe, en moneda extranjera o su equivalente al tipo de cambio del
      d&iacute;a publicado por CLASS Education, por parte del cliente en
      tiempo y forma. Para pagos correspondientes al segundo a&ntilde;o o
      posteriores, CLASS Education cobrar&aacute; un cargo administrativo de
      $100 CAD adicionales al importe correspondiente requerido por la
      instituci&oacute;n.
    </li>
    <li style="text-align: justify;">
      En caso de que el Cliente solicite cambios de fecha de inicio de su
      programa educativo o de instituci&oacute;n educativa, a partir del
      SEGUNDO cambio de fecha o programa de estudio y/o del TERCER cambio de
      instituci&oacute;n seleccionada para aplicar, se cobrar&aacute; un
      importe adicional de $250CAD en concepto de gastos administrativos.
    </li>
    <li style="text-align: justify;">
      A partir de un tercer tr&aacute;mite de registro a una diferente
      instituci&oacute;n educativa, cada dos nuevas aplicaciones, el cliente
      deber&aacute;́ cubrir un importe adicional de $250CAD en concepto de
      gastos administrativos adicional al importe por concepto de Application
      Fee establecido por las instituciones educativas seleccionadas, previo a
      que CLASS Education inicie el tr&aacute;mite de registro en estas.
    </li>
  </ol>

  <p>&nbsp;</p>
  <h3 style="text-align: center;"><strong><span>SIGNATURE OF STUDENT OR PARENT</span></strong></h3>
  <p style="text-align: center;"><strong><span><img style="display: block; margin-left: auto; margin-right: auto;"
          src="{{signature_url}}" alt="" width="300" height="110" /></span></strong></p>
</body>

</html>